@import url('https://fonts.googleapis.com/css2?family=Inter');

body {
  font-family: 'Inter', 'sans-serif';
  margin: 0;
  padding: 0;
}

:root {
  --neutral-color: rgb(235, 235, 235);
  --red-color: rgb(165, 65, 65);
  --red-hover-color: rgba(165, 65, 65, 0.95);
  --green-color: rgb(65, 165, 65);
  --green-hover-color: rgba(65, 165, 65, 0.95);
  --code-color: rgb(50, 50, 50);
}